@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --primary-color: #214177;
  --secondary-color: #3667a6;
  --tertiary-color: #82a6cb;
  --hcont-color: #bdd8f1;
}
* {
  padding: 0;
  margin: 0;
  border: none;
}
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat";
  background: url(https://wallpapersok.com/images/hd/sky-wallpaper-nature-wallpaper-gallery-pc-8rgoznxv0ru96igf.jpg)
    no-repeat center center fixed;
  box-sizing: border-box;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.hidden {
  display: none;
}

/* header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--hcont-color);
  display: flex;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

  ul {
    position: relative;
    left: 5%;
    display: flex;
    justify-content: start !important;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
    li {
      a {
        height: 100%;
        text-align: center;
        width: 10rem;
        color: var(--hcont-color) !important;
        background: var(--secondary-color) !important;
        padding: 1rem;
        border-radius: 1rem;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.8rem !important;
      }
    }
  }
} */

main.grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid !important;
  grid-template-areas:
    "today today today today today"
    "today today today today today"
    "today today today today today"
    "hr1 hr1 hr1 hr1 hr1"
    "container container container container container"
    "hr2 hr2 hr2 hr2 hr2"
    "next next next next next"
    "next next next next next"
    "next next next next next";
  background: transparent;
  backdrop-filter: blur(9px);
  width: 70vw;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  margin: 2rem;
}
.hr1 {
  grid-area: hr1;
  width: 100%;
  height: 0.2rem;
  background-color: var(--secondary-color);
}
.hr2 {
  grid-area: hr2;
  width: 100%;
  height: 0.2rem;
  background-color: var(--secondary-color);
}

.today-info {
  position: relative;
  height: 30%;
  grid-area: today;
  display: grid;
  grid-template-areas:
    "date date "
    "date date"
    "city temp"
    "weather feel-like"
    "weather description";
  width: 50%;
  gap: 0.2rem;
  .date {
    grid-area: date;
  }
  .city {
    grid-area: city;
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--secondary-color);
  }
  .temp {
    grid-area: temp;
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 600;
  }
  img {
    grid-area: weather;
    height: 10vw;
    max-height: 10rem;
  }
  .feel-like {
    grid-area: feel-like;
    color: var(--primary-color);
    font-size: 2.8rem;
  }
  .description {
    grid-area: description;
    color: var(--primary-color);
    font-size: 2.8rem;
  }
}
.container {
  font-size: 1.5rem;
  width: 100%;
  grid-area: container;
  display: flex;
  display: grid;
  grid-template-areas:
    "intro input"
    "error error";
  justify-content: space-evenly;
  align-items: center;
  span {
    grid-area: intro;
    color: var(--secondary-color);
    font-size: 1.7rem;
    font-weight: 700;
  }
  span.error {
    grid-area: error;
    color: red;
    flex-basis: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .input-container {
    grid-area: input;
    display: flex;
    gap: 0.5rem;

    input[type="text"] {
      border-radius: 9px;
      width: 90%;
      height: 2.5rem;
      padding: 2rem;
      border: var(--hcont-color) solid 1px;
      transition: all 0.3s linear;
    }
    input[type="text"]::placeholder {
      color: var(--primary-color);
    }
    input[type="text"]:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    }
    button {
      width: 10vw;
      border-radius: 9px;
      font-size: 1.5rem;
    }
  }
}
.next-days-info {
  grid-area: next;
  display: flex;
  gap: 1rem;
  justify-content: center;

  h1 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 3rem;
  }
  .day {
    background: var(--tertiary-color) transparent;
    backdrop-filter: blur(9px);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    img {
      height: 10vw;
      max-height: 10rem;
    }
    .date {
      color: var(--secondary-color);
      font-size: 2rem;
    }
    .temp {
      color: var(--primary-color);
      font-size: 2rem;
      font-weight: 700;
    }
    .description {
      color: var(--primary-color);
      font-size: 2rem;
    }
  }
}
